venv/
node_modules/
internal/
graph.txt
not_ascii.txt
dups.txt
__pycache__/
package/
*.tgz
*.log
graph.pickle
graph.log
*.db
upload.log
stack.txt
d3_min_lib
logs/
data/
scrape.py
locations.csv
bank_data_test.csv
bank_data_train.csv
real_estate.csv